


<div class="container-liquid">
	<div class="jumbotron">
		<h1> Cyberdecks </h1>
	</div>
	<div class="row">
		<div class="container">
			<h2> Text-Focused, High-Bandwith Computing Platforms </h2>
			<p> A cyberdeck is a custom-built computing platform that 
			prioritizes input from the user.  Most modern computing platforms
			are built with the consumption of content in mind; Large screens and
			simple low-bandwith input (finger-tapping and swiping) are ideal
			for reading articles, watching videos and playing games. They are not
			ideal, however, for <em> creating </em> that very same content for 
			the most part.</p>
			<p> The cyberdeck fills a particular niche, in that it is a focused 
			computing machine and not the jack-of-all trades that other popular
			computing devices like smartphones and laptops aim to be. </p>
			<h3> The Desktop Computer </h3>
			<p> The Desktop Computer is the ideal for power; powerful processors,
			huge screens and high-bandwith input from mechanical keyboards make
			this machine the ideal in every way but two -portability and focus. The
			desktop machine is tethered to the workstation by it's massive power 
			requirements and it's large footprint. The human factor is also very
			important; because the Desktop can do almost anything, it doesn't 
			always draw the person to do very specific things.</p>
			<h3> The Laptop Computer </h3>
			<p> The Laptop Computer is at essence the master of compromise; 
			more portable than the desktop, but less so than the smartphone. Medium
			bandwith input with near-full keyboards that are nevertheless vastly
			inferior to the mechanical keyboards that are available with the 
			desktop. The Laptop is good for nearly all things but not <em>great</em>
			at anything. A fine compromise device that makes it a generally good
			solution to most needs. Whearas the tablet is better for consuming 
			content, it is near useless for creation; the smartphone is more 
			portable, but terrible for work. The desktop superior in every other way
			beyond portability. The laptop is a great general-purpose machine; 
			however the areas where it wants are in focus and input bandwith. </p>
			<h3> The Smartpone </h3>
			<p> The Smartphone computer is a device perfected for portability with a
			slight edge lost in consuming content to the tablet. It is a prime 
			communication device, but the worst of all devices for content creation,
			as the two-thumb or single-finger tapping is terribly slow and 
			frustrating to use for any text-intense activity. No sane person 
			writes code, novels, plays etc on a smartphone. </p>

			<h2> The use-case for the Cyberdeck </h2>
			<p> The cyberdeck is, in essence, a device that maximizes input-bandwith
			in a similar way to the Desktop, but requires extremely low power to 
			operate while retaining portability  and serving very focused purposes.
		        To be a cyberdeck, a computing platform needs to satisfy just a few
			requirements:</p> 
				<ul> 
					<li> It must be Portable. </li>
					<li> It must have high-bandwith input. </li>
					<li> It must have a Purpose. </li>
					<li> It must be customized to meet it's owner's need.</li>
				</ul>
			<p> The cyberdeck is a purpose-built machine. There are a number of 
			approaches that meet the requirements above. </p>
		</div>
	</div>

</div>

